<div>
<div class="card card-inverse" style="background-color: #F5FFFA; border-color: black;">
  <div class="card-block">
    <h3 class="card-title">{{job.title}}..needed</h3>
    <p class="card-text">
        <strong>closing date:</strong> {{ job.closing}}
         <br>   
        <button class="btn btn-success btn-sm " ng-show="!cvsendok" ng-click="dropcv()" >drop your cv</button>
        <button class="btn btn-primary btn-sm" ng-show="cvsendok" >waiting reply</button>
        <button class="btn btn-warning btn-sm" ng-click="carddelete()">discard job vaccant</button>
        </p>
    </div>
</div>
</div>