<div>
   
    
    <div class="card-block" style="background-color: #F5FFFA; border-color: black;">
    <h3 class="card-title text-center">{{vd.applycard.fname}}</h3>
    <p class="card-text text-center">
        <span>
      <a ng-click="viewmore(vd.applycard)">
        view the whole resume
      </a>
    </span><br>
        <button ng-show="!vd.savedcv" class="btn btn-sm btn-warning" ng-click="deletecv()">reject cv</button>
                <button  ng-show="!vd.savedcv" class="btn btn-sm btn-warning" ng-click="cvSaved()">save for late review</button>
                <button ng-show="vd.savedcv" class="btn btn-sm btn-success" ng-click="cvClose()">added for late review.. CLOSE</button>
      </p>
        </div>
    </div>
