<div>
    <div ng-show="cvshow" class="card-deck">
  <div class="card">
    <div class="card-block">
      <p class="card-text text-left">
          <dt>Firstname:</dt>
        <dd>{{cvdata.firstName}}</dd>
        <dt>Lastname:</dt>
        <dd>{{cvdata.lastName}}</dd>
        <dt>Gender:</dt>
        <dd>{{cvdata.gender}}</dd>
        <dt>Contacts:</dt>
        <dd>{{cvdata.email}}</dd>
        <dt>Location:</dt>
        <dd>{{cvdata.district}} District</dd>
        <dt>Education:</dt>
        <dd>{{cvdata.proffesion}} in {{cvdata.education}}</dd>
        <dt>Skills:</dt>
        <dd>{{cvdata.skilldes}}</dd>
        <dt>Experince:</dt>
        <dd>{{cvdata.expedes}}</dd>
        </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      <button class="btn btn-default btn-block" ng-click="editprofile()"><span class="glyphicon glyphicon-edit"></span>edit your resume</button>
    </div>
  </div>
</div>

<div ng-show="!cvshow">
  <form name="formone" role="form">
      <input type="text" required name="title" class="form-control" ng-model="fname">
    </form>
</div>
</div>