<div>
    <div style="background-color: #F5FFFA; border-color: black;"> 
        <p class="text-left" ><strong style="color: red;">Firstname:</strong><i>{{cvs.fname}}</i>   <strong style="color: red;">Lastname:</strong><i>{{cvs.lname}}</i>  <strong style="color: red;">Gender:</strong> 
        <i>{{cvs.gender}}</i><p class="btn-group text-center"> 
        <button class="btn btn-sm btn-default"  >view more</button>
        <button class="btn btn-default btn-sm">call for interview</button>
            <button class="btn btn-default btn-sm" style="padding-right: 2px;">reject cv</button></p>
    </div><br>
</div>