<div class="modal-header">
    <p>please note that your password reset
        link will be send to the 
    email your provided below!</p>
</div>
<div class="modal-body">
    
     <label>please enter your email</label>
     <input class="form-control" type="text" required placeholder="your email here..." ng-model="email" />
    
</div>
<div class="modal-footer">
    <button ng-click="submitCon()" class="btn btn-success btn-lg">send</button>
    <button ng-click="closeview()" class="btn btn-primary btn-lg">close</button>
</div>